<body class="mat-app-background">
  <div *ngIf="pageLoaded | async">
    <div *ngIf="!plansExist" class="large-middle-screen-button-container">
      <button mat-raised-button (click)="ensureMealPlansCreated()" class="large-middle-screen-button" name="loadNewButton">Start Your Meal Plan</button>
    </div>
    <div *ngIf="plansExist">
      <mat-toolbar color="accent">
        <button mat-fab color="primary" (click)="changeView(-1)">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <span class="example-spacer">{{mealPlanObsArray[currentView].label}}</span>
        <button mat-fab color="primary" (click)="changeView(1)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-toolbar>
      <table *ngFor="let plan of mealPlanObsArray[currentView].obs | async" class="fixWeek">
        <th *ngFor="let day of plan.days">
          {{day.weekDayName}}
              <mat-card name="breakfastCard">
                <mat-card-header>
                  <mat-card-title class="larger-mat-card-title">Breakfast</mat-card-title>
                </mat-card-header>
                <mat-card-content class="center-content"> 
                  <!--BREAKFAST CARD CONTENT GOES HERE-->
                  <mat-card *ngFor="let recipe of day.breakfast; let indexOfRecipe=index" class="mat-card-accent" name="breakfastRecipeCard">
                    <mat-card-title class="smaller-mat-card-title">{{recipe.recipeName}}</mat-card-title>
                    <mat-card-content name="breakfastRecipeCard">
                      {{recipe.uid}}
                    </mat-card-content>
                    <mat-card-actions align="center">
                      <button mat-icon-button name="deleteRecipeButton" (click)="setMealInfo('breakfast', day.date)" (click)="removeRecipeFromPlan(indexOfRecipe, plan.label)">
                        <mat-icon>clear</mat-icon>
                      </button>
                    </mat-card-actions>
                  </mat-card>
                  <button mat-mini-fab name="breakfastButton" (click)="setMealInfo('breakfast', day.date)" (click)="openDialog()" aria-label="Add a Recipe" color="primary">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-card-content>
              </mat-card>
              <mat-card name="lunchCard">
                <mat-card-header>
                  <mat-card-title class="larger-mat-card-title">Lunch</mat-card-title>
                </mat-card-header>
                <mat-card-content class="center-content">
                  <!--LUNCH CARD CONTENT GOES HERE-->
                  <mat-card *ngFor="let recipe of day.lunch; let indexOfRecipe=index" class="mat-card-accent" name="lunchRecipeCard">
                    <mat-card-title class="smaller-mat-card-title">{{recipe.recipeName}}</mat-card-title>
                    <mat-card-content>
                      {{recipe.uid}}
                    </mat-card-content>
                    <mat-card-actions align="center">
                      <button mat-icon-button name="deleteRecipeButton" (click)="setMealInfo('lunch', day.date)" (click)="removeRecipeFromPlan(indexOfRecipe, plan.label)">
                        <mat-icon>clear</mat-icon>
                      </button>
                    </mat-card-actions>
                  </mat-card>
                  <button mat-mini-fab name="lunchButton" (click)="setMealInfo('lunch', day.date)" (click)="openDialog()" aria-label="Add a Recipe" color="primary">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-card-content>
              </mat-card>
              <mat-card name="dinnerCard">
                <mat-card-header>
                  <mat-card-title class="larger-mat-card-title">Dinner</mat-card-title>
                </mat-card-header>
                <mat-card-content class="center-content">
                  <!--DINNER CARD CONTENT GOES HERE-->
                  <mat-card *ngFor="let recipe of day.dinner; let indexOfRecipe=index" class="mat-card-accent" name="dinnerRecipeCard">
                    <mat-card-title class="smaller-mat-card-title">{{recipe.recipeName}}</mat-card-title>
                    <mat-card-content>
                      {{recipe.uid}}
                    </mat-card-content>
                    <mat-card-actions align="center">
                      <button mat-icon-button name="deleteRecipeButton" (click)="setMealInfo('dinner', day.date)" (click)="removeRecipeFromPlan(indexOfRecipe, plan.label)">
                        <mat-icon>clear</mat-icon>
                      </button>
                    </mat-card-actions>
                  </mat-card>
                  <button mat-mini-fab name="dinnerButton" (click)="setMealInfo('dinner', day.date)" (click)="openDialog()" aria-label="Add a Recipe" color="primary">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-card-content>
              </mat-card>
        </th>
      </table>
    </div>
  </div>
</body>

<jw-modal id="viewDay">
  tester
</jw-modal>

<jw-modal id="addRecipeToDay">
  <div class="mat-app-background">
    <mat-form-field>
      <mat-label>Clearable input</mat-label>
      <input matInput type="text" [(ngModel)]="searchTerm" (keyup)="searchFuzzy()">
      <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm=''" (click)="searchFuzzy()">
        <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
  <input [(ngModel)]="date" type="date"  required>
  <h3 class="error" *ngIf="errorDate">{{errorMessage}}</h3>
  <app-search-recipes [embeddedPage]="'mealPlan'" (onMealSelected)="logSelectedRecipe($event)"></app-search-recipes>
  </div>
    <!-- POSSIBLY DEPRECATED CODE, LINE ABOVE PULLS FROM SEARCH RECIPE COMPONENT DIRECTLY
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel *ngFor="let recipe of fuzzyResults" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header (click)="fetchRecipe(recipe.uid)">
                <mat-panel-title>
                    {{recipe.recipeName}}
                </mat-panel-title>
                <mat-panel-description>
                  <button mat-raised-button (click)="submitMeal(recipe.uid, 'addRecipeToDay')">
                    Select As Meal
                  </button>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let ingredient of ingredientList">
                <p *ngIf="ingredientList.Loading == true">LOADING...</p>
                {{ingredient.ingredientName}}
            </div>
        </mat-expansion-panel>
    </mat-accordion> -->
</jw-modal>