<body>
    <button (click)="openModal('addRecipeToDay')">Add new recipe</button>
    <button (click)="getWeek(date)">Week Button</button>
    <table>
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr>
            <td>
              <a role="button" (click)="openModal('viewDay')">
                <mat-card class="example-card 1">
                  <mat-card-header>
                    <mat-card-title>fish</mat-card-title>
                    <mat-card-subtitle>breakfast</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://pixabay.com/get/53e1dd434950b10ff3d8992cc621337e1c38dbe54e507749722d7bdd924dc0_640.jpg">
                  <mat-card-content>
                    <p>
                      calories:250 <br>
  
                      servings:1
                    </p>
                  </mat-card-content>
                </mat-card>
              </a>
            </td>
            <td >
              <a role="button" (click)="openModal('viewDay')">
                <mat-card class="example-card 2">
                  <mat-card-header>
                    <mat-card-title>Mac and cheese</mat-card-title>
                    <mat-card-subtitle>breakfast</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://pixabay.com/get/52e3d5464d56af14f1dc846096293e7a1536d9e0534c704f752879d49e4ec65e_640.jpg">
                  <mat-card-content>
                    <p>
                      calories:250 <br>

                      servings:1
                    </p>
                  </mat-card-content>
                  <mat-card-footer>
                    <mat-chip-list aria-label="Tags">
                      <mat-chip>noodles</mat-chip>
                      <mat-chip>cheese</mat-chip>
                      <mat-chip color="Primary" selected>Favorite</mat-chip>
                    </mat-chip-list>
                  </mat-card-footer>
                </mat-card>
              </a>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
              <a role="button" (click)="openModal('viewDay')">
                <mat-card class="example-card 1">
                  <mat-card-header>
                    <mat-card-title>bacon and eggs</mat-card-title>
                    <mat-card-subtitle>lunch</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://pixabay.com/get/57e2d64b4856af14f1dc846096293e7a1536d9e0534c704f752879d69745c159_640.jpg">
                  <mat-card-content>
                    <p>
                      calories:250 <br>
                      
                      servings:1
                    </p>
                  </mat-card-content>
                </mat-card>
              </a>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
              <a role="button" (click)="openModal('viewDay')">
                <mat-card class="example-card 1">
                  <mat-card-header>
                    <mat-card-title>fish</mat-card-title>
                    <mat-card-subtitle>Dinner</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://pixabay.com/get/53e1dd434950b10ff3d8992cc621337e1c38dbe54e507749722d7bdd924dc0_640.jpg">
                  <mat-card-content>
                    <p>
                      calories:250 <br>
                      
                      servings:1
                    </p>
                  </mat-card-content>
                </mat-card>
              </a>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>

<jw-modal id="viewDay">
  tester
</jw-modal>

<jw-modal id="addRecipeToDay">
    <mat-form-field>
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" [(ngModel)]="searchTerm" (keyup)="searchFuzzy()">
        <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm=''" (click)="searchFuzzy()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <input [(ngModel)]="date" type="date"  required>
    <h3 class="error" *ngIf="errorDate">{{errorMessage}}</h3>
    <!--search and select recipe goes here-->
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel *ngFor="let recipe of fuzzyResults" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header (click)="fetchRecipe(recipe.uid)">
                <mat-panel-title>
                    {{recipe.recipeName}}
                </mat-panel-title>
                <mat-panel-description>
                  <button mat-raised-button (click)="submitMeal(recipe.uid, 'addRecipeToDay')">
                    Select As Meal
                  </button>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let ingredient of ingredientList">
                <p *ngIf="ingredientList.Loading == true">LOADING...</p>
                {{ingredient.ingredientName}}
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</jw-modal>