<body>
    <table>
        <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        </tr>
        <tr>
        <td class="bg">test</td>
        <td >test 2</td>
        <td class="bg">test 3</td>
        </tr>
        <tr>
        <td >test 2</td>
        <td></td>
        <td></td>
        </tr>
        <tr>
            <td  class="bg"> test 3</td>
            <td></td>
            <td class="bg"></td>
        </tr>
    </table>
</body>