<head>
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<script>
		function checkUsername(username){
			// Start valid, if invalid, turn false
			validUsername = true;

			// Inform the user the username is taken
			usernameMessage = "This username is taken.\nPlease enter a new one."

			// Inform the user if invalid
			if (validUsername == false){
				alert(usernameMessage);
			}

			// Return valid or invalid
			return validUsername;
		}
	</script>

	<script src="../scripts/passwordCheck.js"></script>

</head>
<body>

<div *ngIf="auth.user$ | async; then authenticated else guest">
	<!-- template will replace this div -->
</div>

<ng-template #guest>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Sign In</h3>
				</div>
				<div class="card-body">
					<form>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" class="form-control" id="loginEmail" placeholder="email">
							
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" class="form-control" id="loginPassword" placeholder="password">
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox">Remember Me
						</div>
						<button (click)="auth.googleSignin()">
							<i class="fa fa-google"></i> Connect Google
						</button>
						<div class="form-group">
							<input type="submit" value="Login" class="btn float-right login_btn" (click)="login()">
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Don't have an account? &nbsp; <button (click)="openModal('custom-modal-signup')">Sign Up</button>
					</div>
					<div class="d-flex justify-content-center">
						<a href="#">Forgot your password?</a>
					</div>
				</div>
      </div>
    </div>
  </div>
</ng-template>

<jw-modal id="custom-modal-signup">
  <input type="email" id=signUpEmail placeholder="Email Address">
  <input type="password" id=signUpPassword placeholder="Password">
  <button (click) ="signUp()" (click) ="closeModal('custom-modal-signup')">Sign Up</button>
</jw-modal>

<ng-template #authenticated>
	<div *ngIf="auth.user$ | async as user">
		<h3>Howdy, {{ user.displayName }}</h3>
		<p>UID: {{ user.uid }}</p>
		<p *ngFor="let item of items | async">
			{{ item.name }} is {{ item.seeds }}
		</p>
		<button (click)="auth.signOut()">Logout</button>
	</div>
</ng-template>
	
</body>