<div>
    <h3>Item List!</h3>
    <div>
        <input [(ngModel)]="newItem" type="text" value="" /> 
        <button (click)="addToItemList()"> 
            Add Item
        </button> 
        <button (click)="editItemList()">
            Edit Items
        </button>
    </div>
    <div *ngFor="let x of Items; let index = index;" > 
        <div>
            <input *ngIf="editBool" type="checkbox" [value]="x" (change)="onCheckBoxChange($event)" />
            {{x}}
        </div> 
    </div>
    <div>
        <button *ngIf="editBool" (click)="saveEdits()">
            Remove
        </button>
    </div>
    <!-- opens the modal -->
    <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
</div>
<!-- this is the modal view which is called based on the modal service calls -->
<jw-modal id="custom-modal-1">
    <h1>A custom modal man!</h1>
    <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>