/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

app-top-bar {
    width: 100%;
    height: 70px;
    padding: 30px;
    background-color: #fc2323;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

app-top-bar h1 {
    color: white;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
