<div>
  <div id="food-storage-header">
    <h1>Welcome to your Food Storage Center!</h1>
  </div>
  <div id="stored-items-list">
    <div *ngFor="let storageItem of sortedStorageList">
      <li *ngIf="storageItem.itemName">
        <input *ngIf="editBool" type="checkbox" [value]="storageItem.itemName" (change)="onCheckBoxChange($event)" />
        {{ storageItem.itemName }}
        {{ storageItem.quantity }}
        {{ storageItem.unit }}, 
        {{ storageItem.quantityReserved }} reserved
      </li>
    </div> 
  </div>
</div>

<jw-modal id="getting-started-modal">
  <div class="modal-header">
    <h2>Let's get you started</h2>
  </div>
  <div id="modal-body">
    <p>select the items you already own from your shopping list: </p>
    <div *ngFor="let shoppingList of listItems$ | async">
      <li *ngIf="shoppingList.itemName"> 
        <input type="checkbox" [value]="shoppingList.itemName" (change)="onCheckBoxChange($event)" />
        {{ shoppingList.itemName }}
        {{ shoppingList.quantity }}
        {{ shoppingList.unit }}
      </li>
    </div> 
  </div>
  <div id="modal-closer">
    <button (click)="closeModal('getting-started-modal');">Close</button>
  </div>
</jw-modal>