<body>
  <button mat-raised-button (click)="openModal('custom-modal-2')">Add new recipe</button>

  <app-search-recipes #search [embeddedPage]="'recipe'"></app-search-recipes>
</body>

<!--The modal for adding recipes-->
<jw-modal id="custom-modal-2">
  Name <input [(ngModel)]="recipeName" type="text" value="" placeholder="enter ingredient name e.g. apple" required> 
  <br>

<!--input from user--> 
<p>
      Ingredient<input [(ngModel)]="newIngredient" type="text" value="" placeholder="enter ingredient name e.g. apple">   <!--text input box for Ingredient-->
      Amount<input [(ngModel)]="newAmount" type="text" value="" placeholder="number">  <!--text input box for Amount-->                                  
      Unit<input [(ngModel)]="newUnit" type="text" value="" placeholder="unit e.g. lb,cups,oz">                           <!--text input box for Unit-->
      <button (click)="addToList()"> <!--add button-->
          Add ingredient
      </button>
</p>

<!--Ingredient added and shown in list-->
<table>
<tr>
<th>Ingredients</th>
<th>amount</th>
<th>Unit</th>
<th> </th>
</tr>
<tr *ngFor="let ingredient of Ingredients; let index = index;"> <!--the loop-->
  <th>{{ingredient.ingredientName}}</th>                                      <!--display name-->
  <th>{{ingredient.amount}}</th>                          <!--display amount-->
  <th>{{ingredient.unit}}</th>                           <!--display unit-->
  <th><input (click)="deleteIngredient(index)" type="button" value="x"></th><!--delete button-->
</tr>   
</table>
Servings<br> <input [(ngModel)]="servings" type="number" value="" min="0" step=".25" required><br>
Calories<br> <input [(ngModel)]="calories" type="number" value="" min="0" required>

<div>
  <input (click)="submitRecipe()" type="submit" value="Submit Recipe"> <!--submit the recipe-->
</div>
<button (click)="closeModal('custom-modal-2');">Close</button>
</jw-modal>

<!--The modal for viewing recipes-->
<jw-modal id="custom-modal-3">
    <div *ngIf="recipe">
        {{recipe.recipeName}}
        {{recipe.calories }}
        {{recipe.servings }}
    </div>
    <table>
        <tr>
            <th>Ingredient</th>
            <th>Amount</th>
            <th>Unit</th>
        </tr>
        <tr *ngFor="let ingredient of ingredientObserve | async;"> 
            <th>{{ingredient.ingredientName}}</th>                                      
            <th>{{ingredient.amount}}</th>                          
            <th>{{ingredient.unit}}</th>                           
        </tr>
    </table>
</jw-modal>
