
placeholder for recipe name <br>
  
    <!--input from user--> 
            <input [(ngModel)]="newIngredient" type="text" value="" placeholder="enter ingredient name e.g. apple"> <!--text input box-->
            <input [(ngModel)]="newAmount" type="text" value="" placeholder="number"> 
            <input [(ngModel)]="newUnit" type="text" value="" placeholder="unit e.g. lb,cups,oz">
  
            <button (click)="addToList()"> <!--add button-->
                Add ingredient
            </button> 
        
  

     
  
    <!--Ingredient added and shown in list-->
    <table>
        <tr>
          <th>Ingredients</th>
          <th>amount</th>
          <th>Unit</th>
          <th> </th>
        </tr>
        <tr *ngFor="let x of Ingredients; let index = index;"> <!--the loop-->
            <th>{{x}}</th>
            <th>{{amount[index]}}</th>
            <th>{{units[index]}}</th>
            <th><input (click)="deleteIngredient(index)" type="button" value="x"></th><!--delete button-->
        </tr>   
    </table>
        
        <div>
            <input (click)="submitRecipe()" type="button" value="Submit Recipe"> <!--submit the recipe-->
        </div>
        