
placeholder for recipe name <br>
  
    <!--input from user--> 
            <input [(ngModel)]="newIngredient" type="text" value=""> <!--text input box-->
   
  
            <button (click)="addToList()"> <!--add button-->
                Add ingredient
            </button> 
        
  

     
  
    <!--Ingredient added and shown in list-->
    <div *ngFor="let x of Ingredients; let index = index;" > <!--the loop-->
  
            <div>{{x}}</div>  <!--display ingedient-->
  
            <input (click)="deleteIngredient(index)" type="button" value="Delete"> <!--delete button-->
        </div>  
        
        <div>
            <input (click)="submitRecipe()" type="button" value="Submit Recipe"> <!--submit the recipe-->
        </div>
        