@import '~@angular/material/theming';
@include mat-core();

$light-primary: mat-palette($mat-deep-orange);
$light-accent: mat-palette($mat-grey);
$light-warn: mat-palette($mat-red);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

@include angular-material-theme($light-theme);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-grey);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

// Include the dark color styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.custom-dark-theme {
  @include angular-material-color($dark-theme);
  .mat-card-accent {
    background-color: mat-color($dark-accent, darker);
  }
  .mat-primary-background {
    background-color: mat-color($dark-primary);
  }
}

.custom-light-theme {
  @include angular-material-theme($light-theme);
  .mat-card-accent {
    background-color: mat-color($light-accent);
  }
  .mat-primary-background {
    background-color: mat-color($light-primary);
  }
}