<div class="flex-parent">
<h1 [ngClass]="isLarge ? '' : 'mobile-title'">
        <a [routerLink]="['/']">MealIt!</a>
</h1>

<div *ngIf="isLarge">
  <mat-slide-toggle (click)="toggleDarkMode()" [(ngModel)]="isDarkMode">Dark Mode</mat-slide-toggle>
</div>
</div>

<div *ngIf="auth.user$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<ng-template #guest>
    
</ng-template>

<ng-template #authenticated>
  <div [ngClass]="isLarge ? 'horizontal-button-list' : 'vertical-button-list'" class="equal-margin">
    <button mat-raised-button color="accent" [routerLink]="['/itemList']">Shopping List</button>
    <button mat-raised-button color="accent" [routerLink]="['/createRecipe']">Recipe List</button>
    <button mat-raised-button color="accent" [routerLink]="['/calender']">Calendar</button>
    <button mat-raised-button color="accent" [routerLink]="['/foodStorage']">Food Storage</button>
  </div>
</ng-template>



