<h1>
        <a [routerLink]="['/']">MealIt!</a>
</h1>

<div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
</div>

<ng-template #guest>
    
</ng-template>

<ng-template #authenticated>
    <button [routerLink]="['/itemList']">Item List</button>
    <button [routerLink]="['/createRecipe']">Recipe List</button>
    <button [routerLink]="['/calender']">Calendar</button>
    <button [routerLink]="['/foodStorage']">Food Storage</button>
</ng-template>

<mat-slide-toggle (click)="toggleDarkMode()" [(ngModel)]="isDarkMode">Dark Mode</mat-slide-toggle>

<img src="assets/borger.jpg" />